<div id="wrapper">
    {{>navbarHome}}

    <!-- Page Content -->
        <div id="page-wrapper">
            <div class="space"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <video width="100%" controls>
                        <source src="{{url}}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <p>{{url}}</p>
                    <div class="fb-comments" data-href="https://www.facebook.com/Rokya-227994087938108/" data-width="100%" data-numposts="5"></div>
                </div>
    
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    
                    <div class="panel panel-info">
                            <div class="panel-body">
                                <img src="http://imagenes.colombia.interlatin.com/sdi/2015/01/14/adbf81192aed49069514c9ba43272bbb.jpg" alt=""> 
                            </div>
                    </div>
                    
                    <div class="panel panel-primary">
                            <div class="panel-body">
                                
                            </div>
                    </div>
                    
                    
                </div>
            </div>                
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
{{>footer}}