
    <div id="wrapper">
      {{>navbarHome}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="space"></div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                    <div class="video-box">
                        <a href="#">
                            <div class="video-item">
                                <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                            </div>
                            <div class="video-intro">
                                <span>One piece</span>
                                <p>1000 luot xem</p>
                            </div>
                        </a>
                    </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                    <div class="video-box">
                        <a href="#">
                            <div class="video-item">
                                <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                            </div>
                            <div class="video-intro">
                                <span>One piece</span>
                                <p>1000 luot xem</p>
                            </div>
                        </a>
                    </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                            <div class="video-box">
                                <a href="#">
                                    <div class="video-item">
                                        <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                                    </div>
                                    <div class="video-intro">
                                        <span>One piece</span>
                                        <p>1000 luot xem</p>
                                    </div>
                                </a>
                            </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://media.kitsu.io/anime/poster_images/13881/large.jpg?1520280358' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2016/01/hoi-phap-su-thumbnail-1452069371.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 pos" >
                <div class="video-box">
                    <a href="#">
                        <div class="video-item">
                            <img src='https://i.imacdn.com/vg/2018/05/19/f95692e3bc74c5a4_4de194aea71de0df_3472015267449096118684.jpg' alt=''/>
                        </div>
                        <div class="video-intro">
                            <span>One piece</span>
                            <p>1000 luot xem</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->  
    </div>
    {{>footer}}